<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GIRIS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

  <div class="jumbotron p-3">
    <div class = "well text-center">
        <h1>UBYS GIRIS</h1>
    </div>
  </div>

  <div class='container'>
    <div class="col md-12">
      <div class='jumbotron p-3'>
      <div class="mb-3">
        <form action="" method='post'>
          <input name='login' type="password" class="form-control" placeholder="Ogrenci numaranızı veya Öğretmen şifresini girin ">
          <hr>
            <input class="btn btn-dark" type="submit" value="Login">
        </form>
      </div>
    </div>
    </div>
  </div>

</body>

</html>